* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input {
    padding: 5px 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    outline: none;
}
body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #417de5, #0932b9);
    display: flex;
    align-items: center;
    justify-content: center;

}
.app {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 700px;
    height: fit-content;
    padding: 30px 10px;

    flex-direction: column;
    gap: 20px 0;
    /*background-image: linear-gradient(180deg, #dbe3b6, #ce115c);*/
    background: rgba(103, 32, 143, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}
.links {
    border: 1px solid #b8e5e5;
}
.link {
    border-bottom: 1px solid #ffffff;
    padding: 5px 10px;
    color: #b7b7b7;
}
.link a {
    color: #fff;
}

.btn_submit {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #fff;
    color: #0932b9;
    font-weight: bold;
    transition: 0.5s all;
}
.btn_submit:hover {
    background-color: #0932b9;
    color: #fff;
    transition: 0.5s all;

}